<option value="">Selecione</option>
<% if !@places.blank? %>
  <% @places.each do |item| %>
    <% if item.name == @selected
      @opt_selected = "selected='selected'"
    else
      @opt_selected = ""
    end %>
    <option <%= @opt_selected %> value="<%= item.id %>"><%= item.name  %></option>
  <% end %>
<% end %>
<option value="Novo">Novo</option>